.card{
    position: relative;
    display: flex;
    border: 1px solid black;
    background: #221d1d;
    width: 1000px;
    margin: auto;
    margin-top: 5px;
    height: 100px;
}
.img img{
    display: flex;
    height: 90px;
    margin-top: 5px;
    margin-left: 17px;
    border-radius: 10px;
}

.time{
    position: absolute;
    left: 130px;
    top: 71px;
    height: 20px;
    width: 40px;
    background: #3a3939;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text p{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text h6{
    color: rgb(173, 168, 168);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 10px;
    margin-top: 0px;
}
